body {
    font-family: Open Sans,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #1b1b1b;
    background-color: #fbfbf9;
}

* {
    outline: none!important;
}



.c-primary-header {
    margin: 40px 13px;
    position: relative;
    color: #1b1b1b;
    text-align: center;
    font-size: 25px;
    font-weight: 300;
}

.c-primary-header span {
    padding: 0 24px;
    background-color: #fbfbf9;
}